services:
    certs-generator:
        build:
            context: ./certs-generator
        image: wazuh-certs-generator
        volumes:
            - wazuh-certs:/var/ossec/etc/certs
        restart: "no"

    wazuh-indexer:
        build:
            context: ./wazuh-indexer
            args:
                GH_TOKEN: ${GH_TOKEN}
        image: dev-wazuh-indexer
        hostname: wazuh-indexer
        ports:
            - "9200:9200"
            - "9300:9300"
        volumes:
            - wazuh-indexer-data:/usr/share/opensearch/data
            - wazuh-certs:/var/ossec/etc/certs
        environment:
            # Cluster
            node.name: wazuh-indexer
            cluster.name: wazuh-cluster
            discovery.type: single-node

            # Network
            network.host: 0.0.0.0
            http.port: 9200

            # JVM
            OPENSEARCH_JAVA_OPTS: "-Xms512m -Xmx512m"

            # Security
            plugins.security.disabled: "false"
            plugins.security.allow_default_init_securityindex: "true"

            # HTTP TLS
            plugins.security.ssl.http.enabled: "true"
            plugins.security.ssl.http.pemcert_filepath: certs/indexer.pem
            plugins.security.ssl.http.pemkey_filepath: certs/indexer-key.pem
            plugins.security.ssl.http.pemtrustedcas_filepath: certs/root-ca.pem
            plugins.security.ssl.http.clientauth_mode: NONE

            # Transport TLS
            plugins.security.ssl.transport.enabled: "true"
            plugins.security.ssl.transport.pemcert_filepath: certs/indexer.pem
            plugins.security.ssl.transport.pemkey_filepath: certs/indexer-key.pem
            plugins.security.ssl.transport.pemtrustedcas_filepath: certs/root-ca.pem
            plugins.security.ssl.transport.enforce_hostname_verification: "false"

        depends_on:
            certs-generator:
                condition: service_completed_successfully
        healthcheck:
            test: ["CMD", "curl", "-k", "-u", "admin:admin", "https://localhost:9200/_cluster/health"]
            interval: 10s
            timeout: 5s
            retries: 20
            start_period: 90s

    wazuh-master:
        build:
            context: ./wazuh-manager
            target: server
        image: dev-wazuh-manager
        hostname: wazuh-master
        ports:
            - "55050:55000"
        volumes:
            - wazuh-certs:/var/ossec/etc/certs
            - ${WAZUH_LOCAL_PATH}/framework/scripts:/var/ossec/framework/scripts
            - ${WAZUH_LOCAL_PATH}/api/scripts:/var/ossec/api/scripts
            - ${WAZUH_LOCAL_PATH}/framework/wazuh:/var/ossec/framework/python/lib/python${WAZUH_PYTHON_VERSION}/site-packages/wazuh
            - ${WAZUH_LOCAL_PATH}/api/api:/var/ossec/framework/python/lib/python${WAZUH_PYTHON_VERSION}/site-packages/api
        environment:
            INDEXER_URL: https://wazuh-indexer:9200
            INDEXER_USERNAME: admin
            INDEXER_PASSWORD: admin
            OPENDISTRO_SECURITY_ENABLED: "false"
        entrypoint:
            - /scripts/entrypoint.sh
            - wazuh-master
            - master-node
            - master
        depends_on:
            wazuh-indexer:
                condition: service_healthy

    wazuh-worker1:
        image: dev-wazuh-manager
        hostname: wazuh-worker1
        volumes:
            - wazuh-certs:/var/ossec/etc/certs
            - ${WAZUH_LOCAL_PATH}/framework/scripts:/var/ossec/framework/scripts
            - ${WAZUH_LOCAL_PATH}/api/scripts:/var/ossec/api/scripts
            - ${WAZUH_LOCAL_PATH}/framework/wazuh:/var/ossec/framework/python/lib/python${WAZUH_PYTHON_VERSION}/site-packages/wazuh
            - ${WAZUH_LOCAL_PATH}/api/api:/var/ossec/framework/python/lib/python${WAZUH_PYTHON_VERSION}/site-packages/api
        depends_on:
            wazuh-master:
                condition: service_started
        ports:
            - "55051:55000"
        entrypoint:
            - /scripts/entrypoint.sh
            - wazuh-master
            - worker1
            - worker


    wazuh-worker2:
        image: dev-wazuh-manager
        hostname: wazuh-worker2
        volumes:
            - wazuh-certs:/var/ossec/etc/certs
            - ${WAZUH_LOCAL_PATH}/framework/scripts:/var/ossec/framework/scripts
            - ${WAZUH_LOCAL_PATH}/api/scripts:/var/ossec/api/scripts
            - ${WAZUH_LOCAL_PATH}/framework/wazuh:/var/ossec/framework/python/lib/python${WAZUH_PYTHON_VERSION}/site-packages/wazuh
            - ${WAZUH_LOCAL_PATH}/api/api:/var/ossec/framework/python/lib/python${WAZUH_PYTHON_VERSION}/site-packages/api
        depends_on:
            wazuh-master:
                condition: service_started
        ports:
            - "55052:55000"
        entrypoint:
            - /scripts/entrypoint.sh
            - wazuh-master
            - worker2
            - worker

    nginx-lb:
        build:
            context: ./nginx-lb
        image: dev-nginx-lb
        restart: on-failure:5
        ports:
            - "443:443"
        depends_on:
            wazuh-master:
                condition: service_started
            wazuh-worker1:
                condition: service_started
            wazuh-worker2:
                condition: service_started
        entrypoint:
            - /scripts/entrypoint.sh


    wazuh-agent:
        build:
            context: ./wazuh-agent
        image: dev-wazuh-agent
        entrypoint:
            - /scripts/entrypoint.sh
            - nginx-lb
            - ${WAZUH_VERSION}
        depends_on:
            nginx-lb:
                condition: service_started

volumes:
  wazuh-indexer-data:
  wazuh-certs:
