services:
    wazuh-base:
        build:
            context: ./wazuh-base
            args:
                WAZUH_BRANCH: ${WAZUH_BRANCH}
        pull_policy: never
        image: dev-wazuh-base
        networks:
            - wazuh-net

    certs-generator:
        build:
            context: ./certs-generator
        image: wazuh-certs-generator
        pull_policy: never
        volumes:
            - wazuh-certs:/certificates
            - ./config/wazuh_dashboard_certs:/export/dashboard
            - ./certs-generator/config.yml:/config/config.yml:ro
        restart: "no"
        networks:
            - wazuh-net

    wazuh.indexer:
        image: quay.io/wazuh/wazuh-indexer:5.0.0-0
        container_name: wazuh.indexer
        hostname: wazuh.indexer
        ports:
            - "9200:9200"
        networks:
            wazuh-net:
                aliases:
                    - wazuh.indexer
        volumes:
            - wazuh-indexer-data:/var/lib/wazuh-indexer
            - wazuh-certs:/etc/wazuh-indexer/certs
            - ./wazuh-indexer/wazuh.indexer.yml:/usr/share/wazuh-indexer/config/opensearch.yml:ro
        environment:
            - "OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g"
        depends_on:
            certs-generator:
                condition: service_completed_successfully
        healthcheck:
            test: ["CMD", "curl", "-k", "-u", "admin:admin", "https://localhost:9200/_cluster/health"]
            interval: 10s
            timeout: 5s
            retries: 20
            start_period: 120s

    wazuh.master:
        build:
            context: ./wazuh-manager
            target: server
        pull_policy: never
        image: dev-wazuh-manager
        hostname: wazuh.master
        networks:
            - wazuh-net
        ports:
            - "55050:55000"
        volumes:
            - wazuh-certs:/var/wazuh-manager/etc/certs
            - ${WAZUH_LOCAL_PATH}/framework/scripts:/var/wazuh-manager/framework/scripts
            - ${WAZUH_LOCAL_PATH}/api/scripts:/var/wazuh-manager/api/scripts
            - ${WAZUH_LOCAL_PATH}/framework/wazuh:/var/wazuh-manager/framework/python/lib/python${WAZUH_PYTHON_VERSION}/site-packages/wazuh
            - ${WAZUH_LOCAL_PATH}/api/api:/var/wazuh-manager/framework/python/lib/python${WAZUH_PYTHON_VERSION}/site-packages/api
        environment:
            OPENDISTRO_SECURITY_ENABLED: "false"
            NODE_NAME: "wazuh.master"
        entrypoint:
            - /scripts/entrypoint.sh
            - wazuh.master
            - master-node
            - master
        depends_on:
            wazuh.indexer:
                condition: service_healthy
            wazuh-base:
                condition: service_started

    wazuh.worker:
        image: dev-wazuh-manager
        hostname: wazuh.worker
        pull_policy: never
        networks:
            - wazuh-net
        volumes:
            - wazuh-certs:/var/wazuh-manager/etc/certs
            - ${WAZUH_LOCAL_PATH}/framework/scripts:/var/wazuh-manager/framework/scripts
            - ${WAZUH_LOCAL_PATH}/api/scripts:/var/wazuh-manager/api/scripts
            - ${WAZUH_LOCAL_PATH}/framework/wazuh:/var/wazuh-manager/framework/python/lib/python${WAZUH_PYTHON_VERSION}/site-packages/wazuh
            - ${WAZUH_LOCAL_PATH}/api/api:/var/wazuh-manager/framework/python/lib/python${WAZUH_PYTHON_VERSION}/site-packages/api
        depends_on:
            wazuh.master:
                condition: service_started
        environment:
            NODE_NAME: "wazuh.worker"
        ports:
            - "55051:55000"
        entrypoint:
            - /scripts/entrypoint.sh
            - wazuh.worker
            - worker

    wazuh2.worker:
        image: dev-wazuh-manager
        hostname: wazuh.worker
        pull_policy: never
        networks:
            - wazuh-net
        volumes:
            - wazuh-certs:/var/wazuh-manager/etc/certs
            - ${WAZUH_LOCAL_PATH}/framework/scripts:/var/wazuh-manager/framework/scripts
            - ${WAZUH_LOCAL_PATH}/api/scripts:/var/wazuh-manager/api/scripts
            - ${WAZUH_LOCAL_PATH}/framework/wazuh:/var/wazuh-manager/framework/python/lib/python${WAZUH_PYTHON_VERSION}/site-packages/wazuh
            - ${WAZUH_LOCAL_PATH}/api/api:/var/wazuh-manager/framework/python/lib/python${WAZUH_PYTHON_VERSION}/site-packages/api
        depends_on:
            wazuh.master:
                condition: service_started
        environment:
            NODE_NAME: "wazuh2.worker"
        ports:
            - "55052:55000"
        entrypoint:
            - /scripts/entrypoint.sh
            - wazuh2.worker
            - worker

    nginx-lb:
        build:
            context: ./nginx-lb
        image: dev-nginx-lb
        pull_policy: never
        restart: on-failure:5
        ports:
            - "1514:1514"
        networks:
            - wazuh-net
        depends_on:
            wazuh.master:
                condition: service_started
            wazuh.worker:
                condition: service_started
            wazuh2.worker:
                condition: service_started
        entrypoint:
            - /scripts/entrypoint.sh

    wazuh-agent:
        build:
            context: ./wazuh-agent
        image: dev-wazuh-agent
        pull_policy: never
        networks:
            - wazuh-net
        entrypoint:
            - /scripts/entrypoint.sh
            - nginx-lb
            - ${WAZUH_VERSION}
        depends_on:
            nginx-lb:
                condition: service_started

    wazuh.dashboard:
        image: public.ecr.aws/wazuh-cicd/wazuh/wazuh-dashboard:5.0.0-latest
        container_name: wazuh.dashboard
        hostname: wazuh.dashboard
        networks:
            - wazuh-net
        ports:
            - "443:5601"
        volumes:
            - ./config/wazuh_dashboard_certs:/tmp/certs
            - ./wazuh-dashboard/wazuh.dashboard.yml:/usr/share/wazuh-dashboard/config/opensearch_dashboards.yml:ro
            - wazuh-dashboard-custom:/usr/share/wazuh-dashboard/plugins/wazuh/public/assets/custom
        depends_on:
            wazuh.indexer:
                condition: service_healthy

volumes:
  wazuh-indexer-data:
  wazuh-certs:
  wazuh-dashboard-custom:

networks:
  wazuh-net:
    driver: bridge
