[Unit]
Description=Wazuh manager

[Service]
Type=forking
EnvironmentFile=/etc/ossec-init.conf
LimitNOFILE=10000

ExecStart=/usr/bin/env ${DIRECTORY}/bin/ossec-control start
ExecStop=/usr/bin/env ${DIRECTORY}/bin/ossec-control stop
ExecReload=/usr/bin/env ${DIRECTORY}/bin/ossec-control reload
