*.so
*.o
*.a
*.dSYM
.DS_Store
*.pyc
*.dll
*.exe
*.dylib

# Auto generated build files
src/LOCATION
src/isbigendian.c
src/analysisd/compiled_rules/compiled_rules.h
etc/ossec.mc
src/Config.OS
src/selinux/*.mod
src/selinux/*.pp

# Compiled programs
src/agent-auth
src/agent_control
src/clear_stats
src/isbigendian
src/list_agents
src/manage_agents
src/ossec-agentd
src/ossec-agentlessd
src/ossec-analysisd
src/ossec-authd
src/ossec-csyslogd
src/ossec-dbd
src/ossec-execd
src/ossec-logcollector
src/ossec-logtest
src/ossec-maild
src/ossec-makelists
src/ossec-monitord
src/ossec-regex
src/parallel-regex
src/ossec-remoted
src/ossec-reportd
src/ossec-syscheckd
src/ossec-integratord
src/rootcheck_control
src/syscheck_control
src/syscheck_update
src/verify-agent-conf
src/wazuh-modulesd
src/wazuh-auth
src/wazuh-db

# Windows agent
src/win32/*.exe
src/win32/LICENSE.txt
src/win32/default-local_internal_options.conf
src/win32/default-ossec.conf
src/win32/help_win.txt
src/win32/internal_options.conf
src/win32/restart-ossec.cmd
src/win32/route-null.cmd
src/win32/netsh-win-2016.cmd
src/win32/route-null-2012.cmd
src/win32/netsh.cmd
src/win32/VERSION
src/win32/REVISION

# Eclipse files
.cproject
.project
.settings/

# Visual Studio Code files
.vscode

# temporary vim files
*.swp
*.swo

# patch files
*.rej
*.orig

# test and coverage files
*.gcno
*.gcda
src/coverage-report/
src/ossec.test
src/test_os_crypto
src/test_os_net
src/test_os_regex
src/test_os_xml
src/test_os_zlib
src/test_shared
etc/preloaded-vars.conf

# Old firewall-drop.sh (moved to default-firewall-drop.sh)
active-response/firewall-drop.sh
