*.so
*.so.*
*.o
*.a
*.dSYM
.DS_Store
*.pyc
*.dll
*.exe
*.dylib

# Auto generated build files
src/LOCATION
src/isbigendian.c
src/analysisd/compiled_rules/compiled_rules.h
etc/ossec.mc
src/Config.OS
src/selinux/*.mod
src/selinux/*.pp
framework/wazuh/core/wazuh.json
src/**/build/*
src/generated_headers/*.h
src/generated_headers/*.hpp

# Compiled programs
src/wazuh-keystore
src/wazuh-keystore-testtool

# Active responses
src/firewall-drop
src/default-firewall-drop
src/pf
src/npf
src/ipfw
src/firewalld-drop
src/disable-account
src/host-deny
src/ip-customblock
src/restart-wazuh
src/route-null
src/kaspersky
src/wazuh-slack

# Eclipse files
.cproject
.project
.settings/

# Visual Studio Code files
.vscode

# PyCharm files
.idea

# temporary vim files
*.swp
*.swo

# patch files
*.rej
*.orig

# test and coverage files
*.gcno
*.gcda
src/TEMP.db
src/local.db
src/coverage-report/
src/data_provider/coverage_report/
src/shared_modules/dbsync/coverage_report/
src/shared_modules/dbsync/smokeTests/output/
src/shared_modules/dbsync/smokeTests/temp.db
src/shared_modules/rsync/coverage_report/
src/shared_modules/utils/coverage_report/
src/shared_modules/utils/tests/coverage_report
src/wazuh_modules/syscollector/coverage_report/
src/ossec.test
src/tap_*
etc/preloaded-vars.conf

# unit tests
src/unit_tests/build/*

# api tests
api/test/integration/_test_results

# Old firewall-drop.sh (moved to default-firewall-drop.sh)
src/active-response/firewall-drop.sh

# Databases commits
framework/wazuh/rbac/migrations/versions/*

# Documentation files
documentation/
doxygen_config.cfg
doxygen_errors.txt

# Flatbuffers generated headers.
src/shared_modules/utils/flatbuffers/include/
src/wazuh_modules/syscollector/include/*_generated.h
src/wazuh_modules/vulnerability_scanner/include/*_schema.h
src/wazuh_modules/vulnerability_scanner/include/*_generated.h

# Test files
src/wazuh_modules/vulnerability_scanner/qa/test_false_*/*/input_*.bin
