#!/bin/sh
#
# Original file created by Anh K. Huynh <kyanh@viettug.org>
# License: See OSSEC's license
#
# Description:
#   Configuration settings for `install.sh`. By using following variables
#   the installation process is very simple, and you don't have to reply
#   to any questions from `install.sh`.
#
# Usage
#   $ cp install.cfg.sh.example install.cfg.sh
#   $ # update your configuration
#   $ ./install.sh # will load install.cfg.sh automatically
#
# References
#   1. OSSEC's manual, http://ossec.net/doc/
#   2. ./install.sh
#

export SET_DEBUG=''                # debug/n  turn on debug mode (for daemons)
export USER_BINARYINSTALL=''       # yes/n    install binaries
export USER_ENABLE_SYSCHECK=y      # y/n      enable system checking
export USER_ENABLE_ROOTCHECK=y     # y/n      enable rootkit checking
export USER_AGENT_SERVER_IP="<ip>"
                                   # ip       IP of ossec server
export USER_ENABLE_ACTIVE_RESPONSE=y
                                   # y/n      enable active response
export USER_ENABLE_EMAIL=y         # y/n      email notification is YES
export USER_EMAIL_ADDRESS="<email>"
                                   # email    email receivier
export USER_EMAIL_SMTP=localhost   # host     SMTP host
export USER_ENABLE_ACTIVE_RESPONSE=y
                                   # y/n      active response / firewall
export USER_ENABLE_FIREWALL_RESPONSE=n
                                   # y/n      firewall on-the-fly modification
export USER_ENABLE_SYSLOG=n        # y/n      enable remote syslog
export USER_DELETE_DIR=n           # y/n      delete existing directory
export USER_WHITE_LIST=n           # y/n      Whilelist; we don't support it
export USER_WHITE_LIST="<ip list>"
                                   # iplist   while list, space separator
export USER_LANGUAGE=en            # en       user language
export USER_NO_STOP=y              # y/n      donot wait for any key
export USER_UPDATE=n               # y/n      update current OSSEC or not
                                   #          ^^ require => (isUpdate => TRUE)
export USER_UPDATE_RULES=y         # y/n      update? rules on server/master
                                   #          ^^ require => update_only
export USER_INSTALL_TYPE='server'  # server/agent
                                   #          installation type
export USER_DIR='/opt/ossec.server'#          installation path
#
# Unknown variables
#
# PREDEF_FILE=/path/to/local/config
#                                  #          path to pre-defined config
# ME=root                          #          current user (auto detect?)
#                                  #          ^^ require => root account
