name: dev-env-engine

services:
  wazuh-indexer:
    build:
      context: ./wazuh-indexer
    image: dev-wazuh-indexer
    hostname: wazuh-indexer
    container_name: wazuh-indexer
    volumes:
      - ./certs/node-1-key.pem:/etc/wazuh-indexer/certs/indexer-key.pem
      - ./certs/node-1.pem:/etc/wazuh-indexer/certs/indexer.pem
      - ./certs/root-ca.pem:/etc/wazuh-indexer/certs/root-ca.pem
      - ./certs/admin.pem:/etc/wazuh-indexer/certs/admin.pem
      - ./certs/admin-key.pem:/etc/wazuh-indexer/certs/admin-key.pem
      # Persistent data volume
      - wazuh-indexer-data:/var/lib/wazuh-indexer
      # Security initialization flag
      - wazuh-indexer-config:/etc/wazuh-indexer-init
    ports:
      - 9200:9200

volumes:
  wazuh-indexer-data:
    driver: local
  wazuh-indexer-config:
    driver: local


  #wazuh-dashboard:
  #  build:
  #      context: ./wazuh-dashboard
  #  image: dev-wazuh-dashboard
  #  hostname: wazuh-dashboard
  #  # container_name: wazuh-dashboard
  #  volumes:
  #    - ./wazuh-dashboard/config.yml:/etc/wazuh-dashboard/opensearch_dashboards_custom.yml
  #    # User worker 1 certificates
  #    - ./certs/root-ca.pem:/etc/wazuh-dashboard/certs/root-ca.pem
  #    - ./certs/wazuh-worker1.pem:/etc/wazuh-dashboard/certs/dashboard.pem
  #    - ./certs/wazuh-worker1-key.pem:/etc/wazuh-dashboard/certs/dashboard-key.pem
  #  ports:
  #    - 4040:443
  #  depends_on:
  #    - wazuh-indexer
