include/dirent.h
include/unistd.h
include/getopt.h
include/schema_*.c
.vs
Build
ossec-agent/Win32
ossec-agent/x64
syscollector_win_ext/Win32
syscollector_win_ext/x64
sqlite3/Win32
sqlite3/x64
cJSON/Win32
cJSON/x64
libwazuh/Win32
libwazuh/x64
ossec-agent-eventchannel/Win32
ossec-agent-eventchannel/x64
ossec-rootcheck/Win32
ossec-rootcheck/x64
manage_agents/Win32
manage_agents/x64
setup-windows/Win32
setup-windows/x64
setup-syscheck/Win32
setup-syscheck/x64
setup-iis/Win32
setup-iis/x64
add-localfile/Win32
add-localfile/x64
packages
