--style=allman
--formatted
--indent=spaces=4
--indent-classes
--indent-switches
--indent-cases
--indent-namespaces
--indent-col1-comments
--max-instatement-indent=120
--break-blocks
--pad-oper
--pad-header
--pad-comma
--align-pointer=type
--align-reference=type
--convert-tabs
--max-code-length=200
--preserve-date
--suffix=none
--recursive