# Python cache
__pycache__
.pytest_cache

# Wazuh log snapshots taken on test failure (conftest.pytest_runtest_makereport)
failure-logs/

# Python bytecode files
*.pyc
.idea

# Thumbnails
._*

### Pycharm ###
.idea/*
.idea/

### VisualStudioCode ###
.vscode/*
.mypy_cache/
.vs/*

### Python Virtualenv
venv

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
