# Copyright (C) 2015-2019, Wazuh Inc.
# July 4, 2018.
#
# This program is a free software; you can redistribute it
# and/or modify it under the terms of the GNU General Public
# License (version 2) as published by the FSF - Free Software
# Foundation.

module wazuh 1.2;

require {
	type audisp_t;
	type var_t;
	type auditd_t;
	type usr_t;
	class sock_file { create setattr unlink };
	class process { noatsecure siginh };
	class dir { remove_name add_name read write };
	class file { getattr open read };
	class capability dac_override;
}

#============= audisp_t ==============
allow audisp_t self: capability dac_override;

allow audisp_t usr_t:dir { remove_name add_name read write };
allow audisp_t usr_t:file getattr;

allow audisp_t usr_t:sock_file { create setattr };
allow audisp_t usr_t:file { open read };

allow audisp_t var_t:dir { remove_name add_name read write };
allow audisp_t var_t:file getattr;

allow audisp_t var_t:sock_file { create setattr unlink };
allow audisp_t var_t:file { open read };

#============= auditd_t ==============

allow auditd_t audisp_t:process { noatsecure siginh };
