Configuration options:

global:
	*mail-notify (yes or no) default:no
	*emailto (email address)
	*emailfrom (email address)
	*smtpserver (ip or host)
	*logbyday (yes or no) default: yes
	*logbylevel (yes or no) default: no
	*logall (yes or no) default: no
	*fts (level) default: 4
		** Will execute configured responses for the level chosen
		** 0 disables it
		** Will run the FTS (first time seen) against the logs
	*stats (level) default: 4
		** Will execute configured responses for the level chosen
		** 0 disables it
		** Will run some statistics checks against the logs
    *memorysize (int) default 2048
        ** Will be used to save information from the last 2048 fired events
        ** Can't be bigger than 4096 or less than 64
    *keeplogdate (yes or no) default: no
        ** Use this option if you want to keep the dates from the event    
    *syscheck_ignore (any file -- comma separated if more than one)
        ** File names to ignore on the integrity checking
    **syscheck_threshold (int) default 3
        ** Number of times a file need to change before being ignored        
	*allowed-ips (any ip address) 
	*denied-ips (any ip address)
		** You need to have one entry for each network/ip.
		** The denied-ips will be read first. If the IP does not
		   match, the allowed-ips will be read. If not match, the
		   access for the IP will be denied.
		** We only support full networks (192.168.1. for 192.168.1.0/24)
		** Example:
		<allowed-ips>10.4.1.</allowed-ips>  #for network 10.4.1.0/24
		<allowed-ips>192.168.</allowed-ips> #for network 192.168.0.0/16
		<allowed-ips>10.1.1.1</allowed-ips> #for ip 10.1.1.1
		<denied-ips>10.4.1.5</allowed-ips>  #to deny 10.4.1.5

rules:
	*include (rules file inside "/rules" directory)
		<include>syslog.rules</include>

response:
    *mail-notification (level >= to notify)
    *log               (level >= to notify)

remote:
	*port (port)
	*group (any group)
	*connection (syslog or secure)
		<remote>
		  <port>514</port>
		  <group>syslog</group>
		  <connection>syslog</connection>
		</remote>
	
client:
	*port (port)
	*server-ip (server ip address)
	*connection (secure only)
	*group (any group)

localfile:
	*location (complete path of the file)
	*group (syslog, all, ftp, snort-full, etc)
		** Available groups:
		** syslog (normal syslog format)
		** snort-full (read snort-full output and barnyard log_dump)
		** snort-fast (read snort-fast output)
		** all (read from anywhere - or any other group you want)
		<localfile>
		  <location>/var/log/messages</location>
		  <group>syslog</group>
		</localfile>

