aiohttp-cache==2.0.2
aiohttp-cors==0.7.0
aiohttp-jinja2==1.2.0
aiohttp-swagger==1.0.14
aiohttp==3.6.2
asn1crypto==1.3.0
azure-common==1.1.25
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
boto3==1.13.1
botocore==1.16.1
cachetools==4.1.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
Click==7.0
clickclick==1.2.2
connexion==2.6.0
cryptography==3.2.1
defusedxml==0.6.0
docker-pycreds==0.4.0
docker==4.2.0
docutils==0.15.2
ecdsa==0.13.3
future==0.17.1
google-api-core==1.16.0
google-auth==1.14.1
google-cloud-pubsub==1.4.3
googleapis-common-protos==1.51.0
grpc-google-iam-v1==0.12.3
grpcio==1.28.1
idna==2.9
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.5
jsonschema==2.6.0
MarkupSafe==1.1.1
more-itertools==8.2.0
openapi-spec-validator==0.2.6
pathlib==1.0.1
protobuf==3.11.3
psutil==5.7.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20
python-dateutil==2.8.1
python-jose==3.0.1
pytz==2020.1
requests==2.23.0
rsa==4.0
s3transfer==0.3.3
setuptools==46.1.3
six==1.14.0
SQLAlchemy==1.3.11
swagger-ui-bundle==0.0.3
urllib3==1.25.9
uvloop==0.14.0
websocket-client==0.57.0
Werkzeug==1.0.1
wheel==0.34.2
