azure-storage-blob==1.4.0
boto3==1.9.82
connexion[swagger-ui]==2.2.0
cryptography==2.4.2
docker==3.7.0
Flask-Cors==3.0.7
Flask==1.0.2
pytz==2018.9
requests==2.21.0
PyYAML==3.13
python_dateutil==2.6.0
python-jose[cryptography]==3.0.1
sqlalchemy==1.3.0
setuptools>=21.0.0
uvloop==0.11.3
