# AWS
boto3==1.17.85
botocore==1.20.85
jmespath==0.9.5
python-dateutil==2.8.1
six==1.14.0 
urllib3==1.26.5 
s3transfer==0.4.2 
pyarrow==8.0.0 
numpy==1.21.6

# Azure
azure-storage-blob==2.1.0 
azure-storage-common==2.1.0 
azure-common==1.1.25 
cryptography==3.3.2 
cffi==1.14.4 
pycparser==2.20 
six==1.14.0 
python-dateutil==2.8.1 
requests==2.25.1 
certifi==2022.12.07 
chardet==3.0.4 
idna==2.9 
urllib3==1.26.5 
SQLAlchemy==1.3.11 
pytz==2020.1

# GCloud

cachetools==4.1.0 
certifi==2022.12.07 
cffi==1.14.4 
chardet==3.0.4 
charset-normalizer==2.0.4 
google-api-core==1.30.0 
google-auth==1.28.0 
google-cloud-core==1.7.1 
google-cloud-pubsub==2.7.1 
google-cloud-storage==1.39.0 
google-crc32c==1.1.2 
google-resumable-media==1.3.1 
googleapis-common-protos==1.51.0 
grpc-google-iam-v1==0.12.3 
grpcio==1.38.1 
idna==2.9 
libcst==0.3.20 
mypy-extensions==0.4.3 
packaging==20.9 
proto-plus==1.19.0 
protobuf==3.19.6 
pyasn1-modules==0.2.8 
pyasn1==0.4.8 
pycparser==2.20 
pyparsing==2.4.7 
pytz==2020.1 
PyYAML==5.4.1 
requests==2.25.1 
rsa==4.7.2 
setuptools==59.6.0 
six==1.14.0 
typing-extensions==3.10.0.2 
typing-inspect==0.7.1 
urllib3==1.26.5


# Docker 
docker==4.2.0
