/var/log/apache/error.log
/var/log/apache/error_log
/var/log/apache/access.log
/var/log/apache/access_log
/var/www/logs/access_log
/var/www/logs/error_log
/var/log/httpd/error_log
/var/log/httpd/access_log
/var/log/nginx/access.log
/var/log/nginx/error.log
/var/log/apache2/error.log
/var/log/apache2/access.log
