  <rootcheck>
    <!-- Frequency that rootcheck is executed - every 10 hours -->
    <frequency>36000</frequency>
    
    <!-- Local of the rootkit_files and rootkit_trojans files -->
    <rootkit_files>/var/ossec/etc/shared/rootkit_files.txt</rootkit_files>
    <rootkit_trojans>/var/ossec/etc/shared/rootkit_trojans.txt</rootkit_trojans>
    <system_audit>/var/ossec/etc/shared/system_audit_rcl.txt</system_audit>
    <system_audit>/var/ossec//etc/shared/cis_rhel5_linux_rcl.txt</system_audit>
    <system_audit>/var/ossec//etc/shared/cis_rhel6_linux_rcl.txt</system_audit>
  </rootcheck>
