  <cluster>
    <name>wazuh</name>
    <node_name>node01</node_name>
    <node_type>master</node_type>
    <port>1516</port>
    <bind_addr>localhost</bind_addr>
    <nodes>
        <node>127.0.0.1</node>
    </nodes>
    <hidden>no</hidden>
    <disabled>yes</disabled>
  </cluster>
