  <cluster>
    <name>wazuh</name>
    <node_name>node01</node_name>
    <node_type>master</node_type>
    <key></key>
    <interval>2m</interval>
    <port>1516</port>
    <host></host>
    <nodes>
        <node>localhost</node>
    </nodes>
  </cluster>
