  <!-- Osquery integration -->
  <wodle name="osquery">
    <disabled>yes</disabled>
    <logpath>/var/log/osquery/osqueryd.results.log</logpath>
    <configpath>${INSTALLDIR}/etc/shared/osquery.conf</configpath>
    <add_labels>yes</add_labels>
  </wodle>
