  <wodle name="cis-cat">
    <disabled>yes</disabled>
    <timeout>1800</timeout>
    <interval>1d</interval>
    <scan-on-start>yes</scan-on-start>

    <java_path>/mnt/jre</java_path>
    <ciscat_path>/var/ossec/wodles/ciscat</ciscat_path>
  </wodle>
