[Unit]
Description=OSSEC Agent
PartOf=ossec-agent.target

[Service]
EnvironmentFile=/etc/ossec-init.conf
Environment=DIRECTORY=/var/ossec

ExecStartPre=/usr/bin/env ${DIRECTORY}/bin/ossec-agentd -t
ExecStart=/usr/bin/env ${DIRECTORY}/bin/ossec-agentd -f
