[Unit]
Description=Wazuh agent
After=network.target
Requires=wazuh-execd.service
Requires=wazuh-syscheckd.service
Requires=wazuh-agentd.service
Requires=wazuh-logcollector.service

[Install]
WantedBy=multi-user.target
