[Unit]
Description=The OSSEC DBD
PartOf=ossec-server.target

[Service]
EnvironmentFile=/etc/ossec-init.conf
Environment=DIRECTORY=/var/ossec

ExecStartPre=/usr/bin/env ${DIRECTORY}/bin/ossec-dbd -t
ExecStart=/usr/bin/env ${DIRECTORY}/bin/ossec-dbd -f
