[Unit]
Description=OSSEC Analysisd
PartOf=ossec-server.target

[Service]
EnvironmentFile=/etc/ossec-init.conf
Environment=DIRECTORY=/var/ossec

ExecStartPre=/usr/bin/env ${DIRECTORY}/bin/ossec-analysisd -t
ExecStart=/usr/bin/env ${DIRECTORY}/bin/ossec-analysisd -f
