[Unit]
Description=OSSEC monitord
PartOf=ossec-server.target

[Service]
EnvironmentFile=/etc/ossec-init.conf
Environment=DIRECTORY=/var/ossec

ExecStartPre=/usr/bin/env ${DIRECTORY}/bin/ossec-monitord -t
ExecStart=/usr/bin/env ${DIRECTORY}/bin/ossec-monitord -f
