[Unit]
Description=Wazuh server
After=network.target
Wants=wazuh-dbd.service
Wants=wazuh-csyslog.service
Wants=wazuh-agentless.service
Requires=wazuh-maild.service
Requires=wazuh-execd.service
Requires=wazuh-analysisd.service
Requires=wazuh-logcollector.service
Requires=wazuh-remoted.service
Requires=wazuh-syscheckd.service
Requires=wazuh-monitord.service

[Install]
WantedBy=multi-user.target
