[Unit]
Description=Wazuh Analysisd
PartOf=wazuh-server.target

[Service]
EnvironmentFile=/etc/ossec-init.conf
Environment=DIRECTORY=/var/ossec
LimitNOFILE=10000

ExecStartPre=/usr/bin/env ${DIRECTORY}/bin/ossec-analysisd -t
ExecStart=/usr/bin/env ${DIRECTORY}/bin/ossec-analysisd -f
