[Unit]
Description=Wazuh server
Wants=network-online.target
After=network.target network-online.target

[Service]
LimitNOFILE=65536
ExecStart=/usr/bin/env WAZUH_HOME_TMPusr/share/wazuh-server/bin/wazuh-server start
Type=exec
KillSignal=SIGINT
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
