[Unit]
Description=Wazuh agent
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=forking
TimeoutSec=45

ExecStart=/usr/bin/env WAZUH_HOME_TMP/bin/wazuh-control start
ExecStop=/usr/bin/env WAZUH_HOME_TMP/bin/wazuh-control stop
ExecReload=/usr/bin/env WAZUH_HOME_TMP/bin/wazuh-control reload

KillMode=process
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
