# Python cache
__pycache__
.pytest_cache

venv
wazuh_testing.egg-info
dist

# Python bytecode files
*.pyc
.idea

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Pycharm ###
.idea/*
.idea/

### VisualStudioCode ###
.vscode/*
.mypy_cache/
.vs/*

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# Wazuh tools installation files

deps/build/
deps/dist/
deps/wazuh_testing.egg-info/


# SearchUI package-lock
deps/wazuh_testing/qa_docs/Search-UI/package-lock.json

# GCP tests configuration file
tests/integration/test_gcloud/data/configuration.yaml

# System test
ansible.log
