<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="curl-vc140-static-32_64" version="7.53.0" targetFramework="native" />
  <package id="openssl-vc141-static-x86_64" version="1.1.0" targetFramework="native" />
  <package id="zlib128-vc140-static-32_64" version="1.2.8" targetFramework="native" />
</packages>