name: 4.X - Coverity Docker image - Create and publish

on:
  workflow_dispatch:
  push:
    paths:
      - 'tools/testing/coverity/**'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: wazuh/coverity-scan

jobs:
  build-and-push-image:
    runs-on: ubuntu-22.04

    permissions:
      contents: read
      packages: write

    env:
      PROJECT: wazuh/wazuh

    steps:
      - uses: actions/checkout@v4

      - name: Download Coverity tarball
        run: |
          wget -q https://scan.coverity.com/download/linux64 \
            --post-data "token=${{ secrets.COVERITY_SCAN_WAZUH_TOKEN }}&project=${PROJECT//\//%2F}" \
            -O tools/testing/coverity/coverity_tool.tgz

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          flavor: |
            latest=true

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: tools/testing/coverity
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
