name: Python code analysis
on:
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/workflows/4_codeanalysis_python.yml'
  schedule:
    - cron: '0 10 * * 2'

jobs:
  bandit:
    permissions:
      contents: read
      security-events: write
      actions: read

    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Bandit Scan
        uses: shundor/python-bandit-scan@v1.0
        with:
          exit_zero: true
          excluded_paths: .git,__pycache__,*/test_*,*/test/*,*/tests/*,*/testing/*
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
