run-name: Python static code analysis on PR ${{ github.event.pull_request.number }}
name: 4.X - Python static code analysis on PR

on:
  pull_request:
    paths:
      - ".github/workflows/4_codeanalysis_python.yml"
      - 'framework/**/*.py'
      - 'api/**/*.py'
      - 'wodles/**/*.py'
env:
  PYTHON_DIRS: "api wodles framework"

jobs:
  bandit-scan:
    runs-on: wz-linux-amd64
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: 'framework/.python-version'

      - name: Install bandit
        run: |
          pip install bandit

      - name: Generate baseline from target branch
        run: |
          git fetch origin ${{ github.event.pull_request.base.ref }}:baseline_branch
          git checkout baseline_branch
          bandit -r ${{ env.PYTHON_DIRS }} -f json -o bandit_baseline.json -x '**/test/**,**/tests/**' --exit-zero

      - name: Run bandit scan on PR changes
        run: |
          git checkout ${{ github.event.pull_request.head.ref }}
          bandit -r ${{ env.PYTHON_DIRS }} -x '**/test/**,**/tests/**' --baseline bandit_baseline.json
