name: 4.X - macOS compilation test

on:
  pull_request:
    paths:
      - "src/**"
      - ".github/workflows/4_testcomponent_build-macos.yml"

jobs:
  build-sonoma:
    # ISSUE 33111: Skip this workflow for issue-33111 branch testing
    if: ${{ !contains(github.head_ref || github.ref_name, '33111') }}
    runs-on: macos-14
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Build wazuh agent for macOS 14
        run: |
          make deps -C src TARGET=agent -j3
          make -C src TARGET=agent -j3
