name: 4.X - Syscollector test on macOS

on:
  workflow_dispatch:
  pull_request:
    paths:
        - ".github/workflows/4_testcomponent_sysinfo-macos.yml"
        - "src/data_provider/**"
        - "src/shared_modules/**"
        - "src/wazuh_modules/syscollector/**"
        - "src/Makefile"

jobs:
  build:
    # ISSUE 33111: Skip this workflow for issue-33111 branch testing
    if: ${{ !contains(github.head_ref || github.ref_name, '33111') }}
    runs-on: macos-14
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      # Build wazuh agent for macOS.
      - name: Build wazuh agent for macOS
        run: |
          make deps -C src TARGET=agent -j4
          make -C src build_syscollector TARGET=agent -j4
      - name: Install dependencies
        run: |
          brew install wget jq
          python3 -m venv src/data_provider/.venv
          source src/data_provider/.venv/bin/activate
          pip install -r src/data_provider/qa/requirements.txt
      - name: Install macports package manager
        run: |
          API_URL="https://api.github.com/repos/macports/macports-base/releases/latest"
          last_macport=$(curl -s -H "Accept: application/vnd.github+json" \
                            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
                            "$API_URL" | jq -r '.assets[] | select(.name | endswith("Sonoma.pkg")).browser_download_url')
          wget $last_macport
          sudo installer -pkg $(basename $last_macport) -target /
          rm -rf $(basename $last_macport)
      - name: Install port
        run: |
          sudo /opt/local/bin/port selfupdate
          sudo /opt/local/bin/port -b install nano
      - name: Run tests
        run: |
          cd src/data_provider
          VENV_PYTHON="$(pwd)/.venv/bin/python"
          sudo "$VENV_PYTHON" -m pytest -vv qa/
