name: 4.X - AWS - Integration tests - Tier 0 and 1

on:
  workflow_dispatch:
    inputs:
      base_branch:
        description: 'Base branch'
        required: true
        default: 'main'
      base_qa_it_fw_branch:
        description: 'Base qa-integration-framework branch'
        required: true
        default: 'main'
  pull_request:
    paths:
      - ".github/workflows/4_testintegration_aws-tier-0-1.yml"
      - "wodles/aws/**"

jobs:
  build:
    env:
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
      BRANCH_BASE: ${{ github.base_ref || inputs.base_branch }}
      QA_IT_FW_BRANCH: ${{ github.base_ref || inputs.base_qa_it_fw_branch }}
      AWS_ACCESS_KEY_ID: ${{ secrets.IT_AWS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.IT_AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: 'us-east-1'
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Detect modified files
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            parser:
              - 'wodles/aws/aws_s3.py'
              - 'wodles/aws/aws_tools.py'
            integration:
              - 'wodles/aws/wazuh_integration.py'
            bucket:
              - 'wodles/aws/buckets_s3/aws_bucket.py'
            config:
              - 'wodles/aws/buckets_s3/config.py'
            guardduty:
              - 'wodles/aws/buckets_s3/guardduty.py'
            cloudtrail:
              - 'wodles/aws/buckets_s3/cloudtrail.py'
            loadbalancers:
              - 'wodles/aws/buckets_s3/load_balancers.py'
            serveraccess:
              - 'wodles/aws/buckets_s3/server_access.py'
            umbrella:
              - 'wodles/aws/buckets_s3/umbrella.py'
            vpcflow:
              - 'wodles/aws/buckets_s3/vpcflow.py'
            waf:
              - 'wodles/aws/buckets_s3/waf.py'
            cloudwatch:
              - 'wodles/aws/services/cloudwatchlogs.py'
              - 'wodles/aws/services/aws_service.py'
            inspector:
              - 'wodles/aws/services/inspector.py'
              - 'wodles/aws/services/aws_service.py'
            custom_bucket:
              - 'wodles/aws/subscribers/**'

      - name: Debug filters
        run: echo "${{ toJson(steps.filter.outputs) }}"

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version-file: ".github/workflows/.python-version-it"
          architecture: x64

      # Download and install integration tests framework.
      - name: Download and install integration tests framework
        run: |
          if [ "X`git ls-remote https://github.com/wazuh/qa-integration-framework.git ${BRANCH_BASE}`" != "X" ]; then
              QA_BRANCH=${BRANCH_BASE}
          elif [ "X`git ls-remote https://github.com/wazuh/qa-integration-framework.git ${QA_IT_FW_BRANCH}`" != "X" ]; then
              QA_BRANCH=${QA_IT_FW_BRANCH}
          else
              QA_BRANCH="main"
          fi
          git clone -b ${QA_BRANCH} --single-branch https://github.com/wazuh/qa-integration-framework.git
          sudo pip install qa-integration-framework/
          sudo rm -rf qa-integration-framework/

      - name: Set AWS credentials file
        run: |
          sudo aws configure set aws_access_key_id ${{ secrets.IT_AWS_KEY_ID }} --profile default
          sudo aws configure set aws_secret_access_key ${{ secrets.IT_AWS_SECRET_ACCESS_KEY }} --profile default
          sudo aws configure set default.region ${AWS_DEFAULT_REGION} --profile default
      - name: Set AWS credentials file for inspector2 tests (us-east-2)
        run: |
          sudo aws configure set aws_access_key_id ${{ secrets.IT_AWS_KEY_ID }} --profile inspector_tests
          sudo aws configure set aws_secret_access_key ${{ secrets.IT_AWS_SECRET_ACCESS_KEY }} --profile inspector_tests
          sudo aws configure set region us-east-2 --profile inspector_tests

      - name: "Install a compatible CMake"
        uses: ./.github/actions/reinstall_cmake

      # Build wazuh server for linux.
      - name: Build wazuh server for linux
        run: |
          make deps -C src TARGET=server -j2
          make -C src TARGET=server -j2

      # Install wazuh server for linux.
      - name: Install wazuh server for linux
        run: |
          echo 'USER_LANGUAGE="en"' > ./etc/preloaded-vars.conf
          echo "" >> ./etc/preloaded-vars.conf
          echo 'USER_NO_STOP="y"' >> ./etc/preloaded-vars.conf
          echo "" >> ./etc/preloaded-vars.conf
          echo 'USER_INSTALL_TYPE="server"' >> ./etc/preloaded-vars.conf
          echo "" >> ./etc/preloaded-vars.conf
          echo "USER_DIR=/var/ossec" >> ./etc/preloaded-vars.conf
          echo "" >> ./etc/preloaded-vars.conf
          echo 'USER_ENABLE_EMAIL="n"' >> ./etc/preloaded-vars.conf
          echo "" >> ./etc/preloaded-vars.conf
          echo 'USER_ENABLE_SYSCHECK="n"' >> ./etc/preloaded-vars.conf
          echo "" >> ./etc/preloaded-vars.conf
          echo 'USER_ENABLE_ROOTCHECK="n"' >> ./etc/preloaded-vars.conf
          echo "" >> ./etc/preloaded-vars.conf
          echo 'USER_ENABLE_SYSCOLLECTOR="n"' >> ./etc/preloaded-vars.conf
          echo "" >> ./etc/preloaded-vars.conf
          echo 'USER_ENABLE_SCA="n"' >> ./etc/preloaded-vars.conf
          echo "" >> ./etc/preloaded-vars.conf
          echo 'USER_WHITE_LIST="n"' >> ./etc/preloaded-vars.conf
          echo "" >> ./etc/preloaded-vars.conf
          echo 'USER_ENABLE_SYSLOG="n"' >> ./etc/preloaded-vars.conf
          echo "" >> ./etc/preloaded-vars.conf
          echo 'USER_ENABLE_AUTHD="n"' >> ./etc/preloaded-vars.conf
          echo "" >> ./etc/preloaded-vars.conf
          echo 'USER_ENABLE_UPDATE_CHECK="n"' >> ./etc/preloaded-vars.conf
          echo "" >> ./etc/preloaded-vars.conf
          echo 'USER_AUTO_START="y"' >> ./etc/preloaded-vars.conf
          echo "" >> ./etc/preloaded-vars.conf
          sudo sh install.sh
          rm ./etc/preloaded-vars.conf

      # Run AWS integration tests
      - name: Run Parser related tests
        if: steps.filter.outputs.parser == 'true'
        run: |
          cd tests/integration
          sudo python3 -m pytest -vvv --tier 0 --tier 1 test_aws/test_parser.py

      - name: Run every test due to base WazuhIntegration class change or manual dispatch
        if: steps.filter.outputs.integration == 'true' || github.event_name == 'workflow_dispatch'
        run: |
          cd tests/integration
          sudo python3 -m pytest -vvv --tier 0 --tier 1 test_aws/

      - name: Run Custom Buckets tests
        if: steps.filter.outputs.bucket == 'true'
        run: |
          cd tests/integration
          sudo python3 -m pytest -vvv --tier 0 --tier 1 -k kms test_aws/
          sudo python3 -m pytest -vvv --tier 0 --tier 1 -k macie test_aws/
          sudo python3 -m pytest -vvv --tier 0 --tier 1 -k trusted_advisor test_aws/

      - name: Run Config tests
        if: steps.filter.outputs.config == 'true' || steps.filter.outputs.bucket == 'true'
        run: |
          cd tests/integration
          sudo python3 -m pytest -vvv --tier 0 --tier 1 -k config test_aws/

      - name: Run GuardDuty tests
        if: steps.filter.outputs.guardduty == 'true' || steps.filter.outputs.bucket == 'true'
        run: |
          cd tests/integration
          sudo python3 -m pytest -vvv --tier 0 --tier 1 -k guardduty test_aws/

      - name: Run CloudTrail tests
        if: steps.filter.outputs.cloudtrail == 'true' || steps.filter.outputs.bucket == 'true'
        run: |
          cd tests/integration
          sudo python3 -m pytest -vvv --tier 0 --tier 1 -k cloudtrail test_aws/

      - name: Run Load Balancers tests
        if: steps.filter.outputs.loadbalancers == 'true' || steps.filter.outputs.bucket == 'true'
        run: |
          cd tests/integration
          sudo python3 -m pytest -vvv --tier 0 --tier 1 -k alb test_aws/
          sudo python3 -m pytest -vvv --tier 0 --tier 1 -k clb test_aws/
          sudo python3 -m pytest -vvv --tier 0 --tier 1 -k nlb test_aws/

      - name: Run Server Access tests
        if: steps.filter.outputs.serveraccess == 'true' || steps.filter.outputs.bucket == 'true'
        run: |
          cd tests/integration
          sudo python3 -m pytest -vvv --tier 0 --tier 1 -k server_access test_aws/

      - name: Run Umbrella tests
        if: steps.filter.outputs.umbrella == 'true' || steps.filter.outputs.bucket == 'true'
        run: |
          cd tests/integration
          sudo python3 -m pytest -vvv --tier 0 --tier 1 -k cisco test_aws/

      - name: Run VPC Flow tests
        if: steps.filter.outputs.vpcflow == 'true' || steps.filter.outputs.bucket == 'true'
        run: |
          cd tests/integration
          sudo python3 -m pytest -vvv --tier 0 --tier 1 -k vpc test_aws/

      - name: Run WAF tests
        if: steps.filter.outputs.waf == 'true' || steps.filter.outputs.bucket == 'true'
        run: |
          cd tests/integration
          sudo python3 -m pytest -vvv --tier 0 --tier 1 -k waf test_aws/

      - name: Run CloudWatch tests
        if: steps.filter.outputs.cloudwatch == 'true'
        run: |
          cd tests/integration
          sudo python3 -m pytest -vvv --tier 0 --tier 1 -k cloudwatch test_aws/

      - name: Run Inspector tests
        if: steps.filter.outputs.inspector == 'true'
        run: |
          cd tests/integration
          sudo python3 -m pytest -vvv --tier 0 --tier 1 -k inspector test_aws/

      - name: Run Custom Bucket tests
        if: steps.filter.outputs.custom_bucket == 'true'
        run: |
          cd tests/integration
          sudo python3 -m pytest -vvv --tier 0 --tier 1 test_aws/test_custom_bucket.py
