run-name: Build Wazuh agent macOS - ${{ github.event_name == 'pull_request' && github.event.pull_request.head.ref || github.ref_name }} - ${{ inputs.architecture || 'intel64,arm64' }}
name: 5.X - Build Wazuh agent macOS (PKG)

on:
  pull_request:
    paths:
      - "src/**"
      - "packages/**"
      - ".github/workflows/5_builderpackage_agent-macos.yml"
  workflow_dispatch:
    inputs:
      architecture:
        type: choice
        description: Package architecture [intel64, arm64].
        required: true
        default: intel64
        options:
          - intel64
          - arm64
      revision:
        description: |
          Package revision (name and metadata).
          Default is '1'.
        required: false
        default: '1'
      debug:
        type: boolean
        description: |
          Build the binaries as debug (without optimizations).
          Default is 'false'.
        required: false
        default: false
      checksum:
        type: boolean
        description: |
          Generate package checksum.
          Default is 'false'.
        required: false
        default: false

jobs:
  build-macos-intel64:
    if: github.event_name == 'pull_request' || inputs.architecture == 'intel64'
    runs-on: macos-14
    timeout-minutes: 90
    name: Build macOS wazuh-agent PKG (intel64)

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set VERSION
        run: |
          VERSION="$(sed -n 's/.*"version"[[:space:]]*:[[:space:]]*"\([^"]*\)".*/\1/p' VERSION.json)"
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "ARCH=intel64" >> $GITHUB_ENV

      - name: Append short commit to VERSION file
        run: |
          SHORT_COMMIT=$(git rev-parse --short=7 HEAD)
          if [ -z "$SHORT_COMMIT" ]; then echo "No commit found"; exit 1; fi
          echo "Found commit: $SHORT_COMMIT"
          sed -i '' '/"stage":/s/$/,/; /}/{i\
              "commit": "'"$SHORT_COMMIT"'"'$'\n''}' VERSION.json || exit 1
          cat VERSION.json

      - name: Install dependencies
        run: |
          bash packages/macos/generate_wazuh_packages.sh -i

      - name: Build macOS intel64 package (without notarization)
        run: |
          REVISION=${{ inputs.revision || '1' }}
          FLAGS="-a ${{ env.ARCH }} -j 2 -r $REVISION --verbose "
          if [ "${{ inputs.checksum }}" == "true" ]; then FLAGS+="--checksum "; fi
          if [ "${{ inputs.debug }}" == "true" ]; then FLAGS+="--debug "; fi
          echo "generate_wazuh_packages.sh $FLAGS"
          sudo bash packages/macos/generate_wazuh_packages.sh $FLAGS

      - name: Get package name
        run: |
          PACKAGE_NAME=$(find packages/macos/output -maxdepth 1 -type f -name "*agent*.pkg" -exec basename {} 2>/dev/null \;)
          echo "PACKAGE_NAME=$PACKAGE_NAME" >> $GITHUB_ENV
          PACKAGE_SYMBOLS_NAME=$(find packages/macos/output -maxdepth 1 -type f -name "*agent-debug-symbols*.zip" -exec basename {} 2>/dev/null \;)
          echo "PACKAGE_SYMBOLS_NAME=$PACKAGE_SYMBOLS_NAME" >> $GITHUB_ENV

      - name: Test install macOS package
        run: |
          sudo installer -pkg packages/macos/output/${{ env.PACKAGE_NAME }} -target / | sudo tee installer.log
          if grep -q "The install was successful" "installer.log"; then
            echo "Installation successfully."
          else
            echo "The installation could not be completed."
            exit 1
          fi

      - name: Uninstall package
        run: |
          sudo /bin/rm -r /Library/Ossec
          sudo /bin/rm -f /Library/LaunchDaemons/com.wazuh.agent.plist
          sudo /bin/rm -rf /Library/StartupItems/WAZUH
          sudo /usr/bin/dscl . -delete "/Users/wazuh"
          sudo /usr/bin/dscl . -delete "/Groups/wazuh"
          sudo /usr/sbin/pkgutil --forget com.wazuh.pkg.wazuh-agent

      - name: Get last stable version
        id: last-stable-version
        uses: ./.github/actions/5_builderpackage_get-last-stable-version
        with:
          repo_owner: wazuh
          repo_name: wazuh
          testing_version: ${{ env.VERSION }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Get package url of the last stable version
        id: upgrade-package-url
        uses: ./.github/actions/5_builderpackage_get-upgrade-test-package-url
        with:
          component: agent
          os: macos
          version: ${{ steps.last-stable-version.outputs.latest_stable_version }}
          architecture: ${{ env.ARCH }}

      - name: Test uninstall and upgrade from ${{ steps.last-stable-version.outputs.latest_stable_version }} to ${{ env.VERSION }}
        uses: ./.github/actions/5_builderpackage_macos-smoke-upgrade-test
        with:
          old_package_url: ${{ steps.upgrade-package-url.outputs.testing_package_url }}
          expected_upgrade_version: ${{ env.VERSION }}

      - name: Set up AWS CLI
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.CI_INTERNAL_DEVELOPMENT_BUCKET_USER_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.CI_INTERNAL_DEVELOPMENT_BUCKET_USER_SECRET_KEY }}
          aws-region: ${{ secrets.CI_AWS_REGION }}

      - name: Upload package to S3
        run: |
          aws s3 cp packages/macos/output/${{ env.PACKAGE_NAME }} s3://xdrsiem-packages-dev-internal/development/wazuh/5.x/main/packages/
          s3uri="s3://xdrsiem-packages-dev-internal/development/wazuh/5.x/main/packages/${{ env.PACKAGE_NAME }}"
          echo "S3 URI: ${s3uri}"

      - name: Upload checksum to S3
        if: ${{ inputs.checksum }}
        run: |
          aws s3 cp packages/macos/output/${{ env.PACKAGE_NAME }}.sha512 s3://xdrsiem-packages-dev-internal/development/wazuh/5.x/main/packages/
          s3uri="s3://xdrsiem-packages-dev-internal/development/wazuh/5.x/main/packages/${{ env.PACKAGE_NAME }}.sha512"
          echo "S3 sha512 URI: ${s3uri}"

      - name: Upload debug symbols to S3
        if: env.PACKAGE_SYMBOLS_NAME != ''
        run: |
          aws s3 cp packages/macos/output/${{ env.PACKAGE_SYMBOLS_NAME }} s3://xdrsiem-packages-dev-internal/development/wazuh/5.x/main/packages/
          symbols="s3://xdrsiem-packages-dev-internal/development/wazuh/5.x/main/packages/${{ env.PACKAGE_SYMBOLS_NAME }}"
          echo "S3 symbols URI: ${symbols}"

      - name: Upload debug symbols checksum to S3
        if: ${{ inputs.checksum && env.PACKAGE_SYMBOLS_NAME != '' }}
        run: |
          aws s3 cp packages/macos/output/${{ env.PACKAGE_SYMBOLS_NAME }}.sha512 s3://xdrsiem-packages-dev-internal/development/wazuh/5.x/main/packages/
          symbols="s3://xdrsiem-packages-dev-internal/development/wazuh/5.x/main/packages/${{ env.PACKAGE_SYMBOLS_NAME }}.sha512"
          echo "S3 symbols sha512 URI: ${symbols}"

      - name: Upload PKG as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_NAME }}
          path: packages/macos/output/${{ env.PACKAGE_NAME }}

      - name: Upload debug symbols as artifact
        if: env.PACKAGE_SYMBOLS_NAME != ''
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_SYMBOLS_NAME }}
          path: packages/macos/output/${{ env.PACKAGE_SYMBOLS_NAME }}

      - name: Upload checksum as artifact
        if: inputs.checksum == true && hashFiles('packages/macos/output/${{ env.PACKAGE_NAME }}.sha512') != ''
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_NAME }}.sha512
          path: packages/macos/output/${{ env.PACKAGE_NAME }}.sha512

      - name: Upload debug symbols checksum as artifact
        if: inputs.checksum == true && env.PACKAGE_SYMBOLS_NAME != '' && hashFiles('packages/macos/output/${{ env.PACKAGE_SYMBOLS_NAME }}.sha512') != ''
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_SYMBOLS_NAME }}.sha512
          path: packages/macos/output/${{ env.PACKAGE_SYMBOLS_NAME }}.sha512

  build-macos-arm64:
    if: github.event_name == 'pull_request' || inputs.architecture == 'arm64'
    runs-on: macos-14
    timeout-minutes: 90
    name: Build macOS wazuh-agent PKG (arm64)

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set VERSION
        run: |
          VERSION="$(sed -n 's/.*"version"[[:space:]]*:[[:space:]]*"\([^"]*\)".*/\1/p' VERSION.json)"
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "ARCH=arm64" >> $GITHUB_ENV

      - name: Append short commit to VERSION file
        run: |
          SHORT_COMMIT=$(git rev-parse --short=7 HEAD)
          if [ -z "$SHORT_COMMIT" ]; then echo "No commit found"; exit 1; fi
          echo "Found commit: $SHORT_COMMIT"
          sed -i '' '/"stage":/s/$/,/; /}/{i\
              "commit": "'"$SHORT_COMMIT"'"'$'\n''}' VERSION.json || exit 1
          cat VERSION.json

      - name: Install dependencies
        run: |
          bash packages/macos/generate_wazuh_packages.sh -i

      - name: Build macOS arm64 package (without notarization)
        run: |
          REVISION=${{ inputs.revision || '1' }}
          FLAGS="-a ${{ env.ARCH }} -j 2 -r $REVISION --verbose "
          if [ "${{ inputs.checksum }}" == "true" ]; then FLAGS+="--checksum "; fi
          if [ "${{ inputs.debug }}" == "true" ]; then FLAGS+="--debug "; fi
          echo "generate_wazuh_packages.sh $FLAGS"
          sudo bash packages/macos/generate_wazuh_packages.sh $FLAGS

      - name: Get package name
        run: |
          PACKAGE_NAME=$(find packages/macos/output -maxdepth 1 -type f -name "*agent*.pkg" -exec basename {} 2>/dev/null \;)
          echo "PACKAGE_NAME=$PACKAGE_NAME" >> $GITHUB_ENV
          PACKAGE_SYMBOLS_NAME=$(find packages/macos/output -maxdepth 1 -type f -name "*agent-debug-symbols*.zip" -exec basename {} 2>/dev/null \;)
          echo "PACKAGE_SYMBOLS_NAME=$PACKAGE_SYMBOLS_NAME" >> $GITHUB_ENV

      - name: Test install macOS package
        run: |
          sudo installer -pkg packages/macos/output/${{ env.PACKAGE_NAME }} -target / | sudo tee installer.log
          if grep -q "The install was successful" "installer.log"; then
            echo "Installation successfully."
          else
            echo "The installation could not be completed."
            exit 1
          fi

      - name: Uninstall package
        run: |
          sudo /bin/rm -r /Library/Ossec
          sudo /bin/rm -f /Library/LaunchDaemons/com.wazuh.agent.plist
          sudo /bin/rm -rf /Library/StartupItems/WAZUH
          sudo /usr/bin/dscl . -delete "/Users/wazuh"
          sudo /usr/bin/dscl . -delete "/Groups/wazuh"
          sudo /usr/sbin/pkgutil --forget com.wazuh.pkg.wazuh-agent

      - name: Get last stable version
        id: last-stable-version
        uses: ./.github/actions/5_builderpackage_get-last-stable-version
        with:
          repo_owner: wazuh
          repo_name: wazuh
          testing_version: ${{ env.VERSION }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Get package url of the last stable version
        id: upgrade-package-url
        uses: ./.github/actions/5_builderpackage_get-upgrade-test-package-url
        with:
          component: agent
          os: macos
          version: ${{ steps.last-stable-version.outputs.latest_stable_version }}
          architecture: ${{ env.ARCH }}

      - name: Test uninstall and upgrade from ${{ steps.last-stable-version.outputs.latest_stable_version }} to ${{ env.VERSION }}
        uses: ./.github/actions/5_builderpackage_macos-smoke-upgrade-test
        with:
          old_package_url: ${{ steps.upgrade-package-url.outputs.testing_package_url }}
          expected_upgrade_version: ${{ env.VERSION }}

      - name: Set up AWS CLI
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.CI_INTERNAL_DEVELOPMENT_BUCKET_USER_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.CI_INTERNAL_DEVELOPMENT_BUCKET_USER_SECRET_KEY }}
          aws-region: ${{ secrets.CI_AWS_REGION }}

      - name: Upload package to S3
        run: |
          aws s3 cp packages/macos/output/${{ env.PACKAGE_NAME }} s3://xdrsiem-packages-dev-internal/development/wazuh/5.x/main/packages/
          s3uri="s3://xdrsiem-packages-dev-internal/development/wazuh/5.x/main/packages/${{ env.PACKAGE_NAME }}"
          echo "S3 URI: ${s3uri}"

      - name: Upload checksum to S3
        if: ${{ inputs.checksum }}
        run: |
          aws s3 cp packages/macos/output/${{ env.PACKAGE_NAME }}.sha512 s3://xdrsiem-packages-dev-internal/development/wazuh/5.x/main/packages/
          s3uri="s3://xdrsiem-packages-dev-internal/development/wazuh/5.x/main/packages/${{ env.PACKAGE_NAME }}.sha512"
          echo "S3 sha512 URI: ${s3uri}"

      - name: Upload debug symbols to S3
        if: env.PACKAGE_SYMBOLS_NAME != ''
        run: |
          aws s3 cp packages/macos/output/${{ env.PACKAGE_SYMBOLS_NAME }} s3://xdrsiem-packages-dev-internal/development/wazuh/5.x/main/packages/
          symbols="s3://xdrsiem-packages-dev-internal/development/wazuh/5.x/main/packages/${{ env.PACKAGE_SYMBOLS_NAME }}"
          echo "S3 symbols URI: ${symbols}"

      - name: Upload debug symbols checksum to S3
        if: ${{ inputs.checksum && env.PACKAGE_SYMBOLS_NAME != '' }}
        run: |
          aws s3 cp packages/macos/output/${{ env.PACKAGE_SYMBOLS_NAME }}.sha512 s3://xdrsiem-packages-dev-internal/development/wazuh/5.x/main/packages/
          symbols="s3://xdrsiem-packages-dev-internal/development/wazuh/5.x/main/packages/${{ env.PACKAGE_SYMBOLS_NAME }}.sha512"
          echo "S3 symbols sha512 URI: ${symbols}"

      - name: Upload PKG as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_NAME }}
          path: packages/macos/output/${{ env.PACKAGE_NAME }}

      - name: Upload debug symbols as artifact
        if: env.PACKAGE_SYMBOLS_NAME != ''
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_SYMBOLS_NAME }}
          path: packages/macos/output/${{ env.PACKAGE_SYMBOLS_NAME }}

      - name: Upload checksum as artifact
        if: inputs.checksum == true && hashFiles('packages/macos/output/${{ env.PACKAGE_NAME }}.sha512') != ''
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_NAME }}.sha512
          path: packages/macos/output/${{ env.PACKAGE_NAME }}.sha512

      - name: Upload debug symbols checksum as artifact
        if: inputs.checksum == true && env.PACKAGE_SYMBOLS_NAME != '' && hashFiles('packages/macos/output/${{ env.PACKAGE_SYMBOLS_NAME }}.sha512') != ''
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_SYMBOLS_NAME }}.sha512
          path: packages/macos/output/${{ env.PACKAGE_SYMBOLS_NAME }}.sha512
