run-name: Python static code analysis on PR ${{ github.event.pull_request.number }}
name: 5.X - Python static code analysis on PR

on:
  pull_request:
    paths:
      - ".github/workflows/5_codeanalysis_python_bandit_pr.yml"
      - 'framework/**/*.py'
      - 'api/**/*.py'
      - 'wodles/**/*.py'
      - 'integrations/**/*.py'


jobs:
  bandit-scan:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: 'framework/.python-version'

      - name: Install bandit
        run: |
          pip install bandit

      - name: Generate baseline from target branch
        run: |
          git fetch origin ${{ github.event.pull_request.base.ref }}:baseline_branch
          git checkout baseline_branch
          bandit -r . -f json -o bandit_baseline.json --exit-zero

      - name: Run bandit scan on PR changes
        run: |
          git checkout ${{ github.event.pull_request.head.ref }}
          bandit -r . --baseline bandit_baseline.json
